Source: linstor-opennebula
Maintainer: LINBIT HA Solutions GmbH <drbd-dev@lists.linbit.com>
Uploaders: Roland Kammerer <roland.kammerer@linbit.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               python3-all (>= 3.5),
               python3-setuptools,
               dh-python
Standards-Version: 3.9.6

Package: linstor-opennebula
Provides: addon-linstor
Conflicts: addon-linstor
Replaces: addon-linstor
Architecture: all
Depends: drbd-utils,
         python-linstor (>=1.0.11),
         ${misc:Depends},
         ${python3:Depends}
Description: Linstor addon for OpenNebula
 A driver for OpenNebula to consume storage from LINSTOR. It supports
 volume creation, deletion, resizing, snapshotting.
 Live-migration of VMs using linstor volumes, with ssh system datastore
 and shared system datastore.
