Source: addon-linstor
Maintainer: LINBIT HA Solutions GmbH <drbd-dev@lists.linbit.com>
Uploaders: Roland Kammerer <roland.kammerer@linbit.com>
Section: python
Priority: optional
# Currently, we do not include dh-python (as suggested by jessie),
# because it is not available on unbuntu 12.04
# Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 9), dh-python, ...
Build-Depends: debhelper (>= 9),
               python-all (>= 2.7),
Standards-Version: 3.9.6

Package: addon-linstor
Architecture: all
Depends: drbd-utils,
         linstor-client,
         ${misc:Depends},
         ${python:Depends}
Description: Linstor addon for OpenNebula
 A driver for OpenNebula to consume storage from LINSTOR. It supports
 volume creation, deletion, resizing, snapshotting.
 Live-migration of VMs using linstor volumes, with ssh system datastore
 and shared system datastore.
